@{
}
@model IEnumerable<Subject>
<table class="table" border="0" cellpadding="0" cellspacing="2" id="subjects-table">
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href=# class="subject"  data-SubjectId="@item.Id">@item.Name</a>
            </td>
        </tr>
    }
</table>

