@{
}
@model IEnumerable<Subject>
<table class="table" border="0" cellpadding="0" cellspacing="2">
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a asp-controller="Home" asp-action="Index" asp-route-CountryId="@item.CountryId" asp-route-SubjectId="@item.Id">@item.Name</a>
            </td>
        </tr>
    }
    </table>
