@{

    ViewData["Title"] = "Home Page";
}
@model IEnumerable<appZ.Models.Subject>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#description">Описание</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#characteristics">Характеристики</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#opinion">Отзывы</a>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane fade show active" id="description">
        @await Component.InvokeAsync("SubjectsTable", new { Subjects = Model })
    </div>
    <div class="tab-pane fade" id="characteristics">
        Характеристики товара...
    </div>
    <div class="tab-pane fade" id="opinion">
        Отзывы...
    </div>
</div>
