@{
}
@model IEnumerable<City>
<table class="table" border="0" cellpadding="0" cellspacing="2">
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a asp-controller="Home" asp-action="SaveCity" asp-route-CountryId="@item.Subject.CountryId" asp-route-SubjectId="@item.SubjectId" asp-route-CityId="@item.Id">@item.Name@if (item.Id == ViewBag.CurrentId){ <text> •</text>}</a>

</td>

</tr>
    }
</table>