@{
}
@model IEnumerable<City>
<table class="table" border="0" cellpadding="0" cellspacing="2" id="cities-table">
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a class="city e-icons" href=# data-Country="@item.Subject.CountryId" data-Subject="@item.Subject.Id" data-CityId="@item.Id" id="city-@item.Id">@item.Name@if (item.Id == ViewBag.CurrentId){}
                    <i class="fas fa-car"></i>
                </a>
            </td>
        </tr>
    }
</table>