@{
}
@model IEnumerable<City>
<table class="table" border="0" cellpadding="0" cellspacing="2" id="cities-table">
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <button class="city badge badge-light">@item.Name@if (item.Id == ViewBag.CurrentId){}</button>
            </td>

        </tr>
    }
</table>